.form {
    padding: 24px 0;
    width: 50%;
    display: flex;
    flex-flow: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    mat-form-field {
        width: 100%;
    }

    .buttons-wrapper {
      width: 100%;
      margin: 24px 0;
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      align-items: center;

      button {
        border: 2px solid black;
      }
    }
}
